* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    font-weight: bold;
    background-color: #d6c7b5;
    color: rgb(91, 44, 1);
}

header {
    padding: 15px;
    background-color: rgb(203, 154, 90);
    color: rgb(102, 54, 8);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    font-size: 150%;
    display: inline-flex;
    float: right;
}

header nav li {
    display: inline-block;
    margin: 20px;
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: rgb(91, 44, 1);
  }

a:hover {
    color: crimson;
}

img {
    float: left;
    width: 400px;
    margin: 10px;
    max-width: 100%;
    border-radius: 10px
}

main h1 {
    font-size: 300%;
    text-align: center;
    padding-top: 20%;

}

main h2 {
    text-align: center;
    font-size: 200%;
    padding-bottom: 20%;
}

.intro-container {
    background-color: rgb(236, 221, 195);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

#Project-1 {
    font-size: 150%;
    display: block;
    margin: 5px;
    text-align: center;
    width: 30%;
    /* height: auto; */
    /* background-color: beige; */
    /* flex-grow: 0; */
}

#Project-1 img {
    /* margin: 20px; */
    margin-left: 0%;
    width: 100%;
    height: 100%;
}

#Project-1 p {
    background-color: bisque;
}

#Project {
    font-size: 150%;
    display: block;
    margin: 5px;
    width: 20%;
    text-align: center;
    /* height: 357px; */
    /* background-color: aliceblue; */
    /* flex-grow: 1; */
}

#Project img {
    /* margin: 20px; */
    margin-left: 0%;
    width: 100%;
    height: 100%;
}

#Project p{
    background-color: bisque;
}

footer {
    margin: 20px;
}

footer ul {
    font-size: 16px;
}

footer a {
    color: rgb(24, 157, 234);
}

@media (max-width: 1600px) {
    img {
        max-width: 23%;
    }
}
  
  /* mobile*/
  /* @media screen and (max-width: 480px) {
    #Project, #Project-1 {
        flex: 1 0 100%;
      }
  } */ 